* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #663f46;
}

h1 {
  background-color: #3C362A;
  color: #B8C4BB;
  display: flex;
  font-size: 175px;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 700px;
  margin-top: 200px;
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: #3C362A;
}

p {
  display: flex;
  justify-content: flex-end;
  font-size: 35px;
  margin-top: 100px;
  margin-left: 250px;
  color: #B8C4BB;
  background-color: #3C362A;
  align-content: space-around;
  padding-right: 50px;
}

img {
  display: flex;
  justify-content: flex-end;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  justify-content: flex-end;
  font-size: 35px;
  margin-top: 50px;
  margin-left: 400px;
  color: #3C362A;
  background-color: #C9D6EA;
  align-content: space-around;
  padding-right: 50px;
  text-decoration: none;
}

.second {
  display: flex;
  justify-content: flex-end;
  font-size: 35px;
  margin-top: 50px;
  margin-left: 500px;
  color: #3C362A;
  background-color: #C9D6EA;
  align-content: space-around;
  padding-right: 50px;
  text-decoration: none;
}

.third {
  display: flex;
  justify-content: flex-end;
  font-size: 35px;
  margin-top: 50px;
  margin-left: 700px;
  color: #3C362A;
  background-color: #C9D6EA;
  align-content: space-around;
  padding-right: 50px;
  text-decoration: none;
}
