* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #3c362a;
}

li:hover {
  background: #B8C4BB;
}

body{
  background-color: #663f46;
}

h1,
h2 {
  background-color: #3C362A;
  color: #B8C4BB;
  text-shadow: -5px 5px 5px black;
}

p {
  align-content: space-around;
  background-color: #3C362A;
  box-shadow: 20px 10px 17px 5px black;
  color: #B8C4BB;
  display: flex;
  font-size: 35px;
  justify-content: flex-end;
  margin-left: 250px;
  margin-top: 100px;
  padding-right: 50px;
  text-shadow: 5px 5px 5px black;
}

ul {
  list-style-type: none;
}

.cover-title {
  align-items: flex-start;
  box-shadow: -20px 10px 17px 5px black;
  display: flex;
  font-size: 175px;
  justify-content: space-between;
  margin-right: 700px;
  margin-top: 200px;
  padding-left: 20px;
}

.first-co, .second-co, .third-co {
  align-content: space-around;
  background-color: #C9D6EA;
  box-shadow: 20px 10px 17px 5px black;
  color: #B8C4BB;
  display: flex;
  font-size: 35px;
  justify-content: flex-end;
  margin-top: 50px;
  margin-left: 400px;
  padding-right: 50px;
  text-shadow: 3px 3px 3px grey;
  transition: background .5s, color .5s;
}

.second-co {
  margin-left: 500px;
}

.third-co {
  margin-left: 700px;
}

.welcome {
  font-size: 200px;
  background-color: #663f46;
}

.bio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 50px;
}

img {
  margin-left: 150px;
}

.bio
p {
  background-color:
}
