* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #3c362a;
  text-decoration: none;
}

li:hover {
  background: #B8C4BB;
}

body{
  background-color: #663f46;
}

.cover-anchor1,
.cover-anchor2,
.cover-anchor3 {
  display: block;
  width: 100%;
  text-align: right;
}

h1,
h2 {
  background-color: #3C362A;
  color: #B8C4BB;
  text-shadow: -5px 5px 5px black;
}

p {
  align-content: space-around;
  background-color: #3C362A;
  box-shadow: 20px 10px 17px 5px black;
  color: #B8C4BB;
  display: flex;
  font-size: 35px;
  justify-content: flex-end;
  margin-left: 10vw;
  margin-top: 100px;
  padding-right: 50px;
  text-shadow: 5px 5px 5px black;
}

ul {
  list-style-type: none;
}

.cover-title {
  align-items: flex-start;
  box-shadow: -20px 10px 17px 5px black;
  display: flex;
  font-size: 175px;
  justify-content: space-between;
  margin-right: 5vw;
  margin-top: 200px;
  padding-left: 20px;
}

.first-co, .second-co, .third-co {
  align-content: space-around;
  background-color: #C9D6EA;
  box-shadow: 20px 10px 17px 5px black;
  color: #B8C4BB;
  display: flex;
  font-size: 35px;
  justify-content: flex-end;
  margin-top: 50px;
  margin-left: 50vw;
  padding-right: 40px;
  text-shadow: 3px 3px 3px grey;
  transition: background .5s, color .5s;
}

.second-co {
  margin-left: 55vw;
}

.third-co {
  margin-left: 60vw;
}

/* expertise page */

.expdr,
.abtdr {
  position: fixed;
  right: 0px;
}

.expnav1,
.expnav2,
.expnav3,
.abtnav1,
.abtnav2,
.abtnav3 {
  align-content: space-around;
  background-color: #C9D6EA;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  margin-left: 500px;
  padding-left: 5px;
  padding-right: 5px;
}

.welcome,
.aboutme {
  font-size: 200px;
  background-color: #663f46;
  border-bottom: 25px solid #B8C4BB;
  width: 75%;
}

.bio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-top: 20px;
}

img {
  width: 50%;
  height: 50%;
  margin-left: 100px;
  box-shadow: 20px 20px 20px black;
}

.bio
p {
  padding: 50px;
}

/****************Expertise and project(s)*********/

.expertise
p {
  padding-bottom: 25px;
  padding-top: 25px;
}

.Expertise article p {
  padding: 30px;
}

.Projects article p {
  padding: 30px;
}

.contact {
  padding-bottom: 100px;
}

.contact p {
  padding: 30px;
}

footer img {
  height: 70px;
  width: 70px;
  box-shadow: none;
}

h2 {
  border-bottom: 20px solid #B8C4BB;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 20px solid #B8C4BB;
  box-shadow: 0px 15px 15px black;
  font-size: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

h3 {
  border-bottom: 30px solid transparent;
  border-right: 20px solid #E8F7EE;
  border-top: 30px solid transparent;
  color: #E8F7EE;
  font-size: 30px;
  width: 6em;
  margin-top: 50px;
}

footer {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.social-links {
  align-items: center;
  display: flex;
}

/* personal page */

iframe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 100px;
}

/** @media screen and (max-width: 800px) {

**/
@media screen and (max-width: 600px) {
 
 .bio {
   flex-wrap: wrap;
 }
 .bio img {
   margin-left: 0;
 }
 .cover-title {
   margin-right: 0;
   font-size: 30vw;
 }

 .first-co,
 .second-co,
 .third-co {
   margin-left: 0;
   padding: 0;
 }

 .welcome, .aboutme {
   font-size: 23vw;
 }

 .iframe {
   margin-left: 0;
 }

 p {
   margin-left: 0;
 }
}
